nav{ background-color: $bgnavfooter;
    div{
        a{padding-left: 5%;
            img{
                width: 20%;
                height: 20%;
            }
        }
        ul{
            li{
                a:hover{
                color: $mailcolor !important;
                }
            }
        }
    }
}